stages:
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  ALLURE_VERSION: "2.24.1"

cache:
  paths:
    - .m2/repository
    - target/

test:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
    - mvn clean test
    # Download and install Allure
    - wget https://github.com/allure-framework/allure2/releases/download/$ALLURE_VERSION/allure-$ALLURE_VERSION.tgz
    - tar -zxf allure-$ALLURE_VERSION.tgz
    - ./allure-$ALLURE_VERSION/bin/allure generate target/allure-results --clean -o allure-report
  artifacts:
    when: always
    paths:
      - allure-report
    expire_in: 30 days
  allow_failure: false

pages:
  stage: deploy
  image: alpine:latest
  dependencies:
    - test
  script:
    - mv allure-report public
  artifacts:
    paths:
      - public
  only:
    - main