stages:
  - test
  - report

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

cache:
  paths:
    - .m2/repository
    - target/

test:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
    - mvn clean test
  artifacts:
    when: always
    paths:
      - target/allure-results
    expire_in: 1 week
  allow_failure: false

allure-report:
  stage: report
  image: alpine:latest
  when: always
  dependencies:
    - test
  before_script:
    - apk add --no-cache wget tar bash
  script:
    - wget https://github.com/allure-framework/allure2/releases/download/2.24.1/allure-2.24.1.tgz
    - tar -zxvf allure-2.24.1.tgz
    - ./allure-2.24.1/bin/allure generate target/allure-results --clean -o allure-report
  artifacts:
    paths:
      - allure-report
    expire_in: 30 days

pages:
  stage: report
  image: alpine:latest
  when: always
  dependencies:
    - allure-report
  script:
    - mv allure-report public
  artifacts:
    paths:
      - public
  only:
    - main