<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.weavers.listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Saikat/Downloads/API-Testing-Java-main">
        <classes>
            <class name="com.weavers.tests.RequestOTPTest"/>
            <class name="com.weavers.tests.RegisterANewUserTest"/>
            <class name="com.weavers.tests.LoginTest"/>
        </classes>
    </test>
</suite>